.header{
    height: 300px;
    font-family:monospace;
    background-image: url('../../../images/s.jpg');
    background-size:cover;
    background-repeat: no-repeat;

}
.header div{
    height: 300px;
}
@media screen and (max-width:768px) {
    .btn-width{
        width:40%;
    }
}
@media screen and (min-width:769px) {
    .btn-width{
        width:15%;
    }
}