.header{
    height: 750px;
    font-family:monospace;
    background-image: url('https://img.freepik.com/free-vector/modern-interior-with-yellow-sofa_1441-3957.jpg?t=st=1651282255~exp=1651282855~hmac=bdada2e249cc145bd46cdd575af85e328cb48f027c6935ab16d4633cd47fe29c&w=1060');
    background-size: cover;
    background-repeat: no-repeat;

}
.cstm-bg{
    background-color:#d8ff8497;
}